@media screen and (max-width: 875px)
  .newsItem
    .main
      width: 91%
      margin: 20px auto 48px
    .news__content
      width: 100%

@media screen and (max-width: 635px)
  .newsItem
    .details
      .links
        &__item
          &-logo
            margin-right: 0
          &-txt
            display: none
    .news
      &__topImg
        max-height: 450px
      &__content
        .img
          max-height: 450px

@media screen and (max-width: 500px)
  .newsItem
    .main
      margin-top: 12px
    .breadcrumbs
      &-item
        font-size: 12px
        margin-right: 16px
        &:first-child
          width: 12px
          height: 12px
          min-width: 12px
          &::after
            bottom: 5.5px
        &::after
          left: calc(100% + 2px)
          bottom: 6.5px
    .title
      &::after
        height: 1px
    .details
      .links
        &__txt
          font-size: 12px
        &__item
          padding: 7px 16px
          border-radius: 4px
    .h1
      font-size: 24px
    .news
      &__topImg
        margin-bottom: 0
        border-radius: 4px
        max-height: 330px
      &__content
        .text
          font-size: 14px
          line-height: 24px
        .img
          max-height: 330px
        .quotation
          padding: 24px 18px
          &-img
            margin-bottom: 17px
          &-txt
            font-size: 18px
            line-height: 24px
    .backLink
      width: 100%
      margin-top: 14px

@media screen and (max-width: 335px)
  .newsItem
    .details
      .date
        font-size: 11px
      .links
        &__txt
          font-size: 11px
        &__item
          padding: 7px 10px
    .news
      &__topImg
        max-height: 230px
      &__content
        .img
          max-height: 230px