.newsItem
    button.dark-btn Dark theme
    .main
        .title
            .breadcrumbs
                a(href="#").breadcrumbs-item
                a(href="#").breadcrumbs-item News
                a(href="#").breadcrumbs-item FAVBET Tech став партнером жіночого tech-ком’юніті Wtech
            h1.h1 FAVBET Tech став партнером жіночого tech-ком’юніті Wtech
            .details
                time(datetime="2023-01-13").date 13 січня 2023
                .links
                    .links__txt Поділись:
                    .links__item
                        .links__item-link.share-facebook
                        .links__item-logo
                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M0 8.04001C0 12 2.88 15.28 6.68 15.96L6.72503 15.9232C6.72359 15.9229 6.72214 15.9226 6.7207 15.9224V10.2824H4.7207V8.04238H6.7207V6.28238C6.7207 4.28238 8.0007 3.16238 9.8407 3.16238C10.4007 3.16238 11.0407 3.24238 11.6007 3.32238V5.36238H10.5607C9.6007 5.36238 9.3607 5.84238 9.3607 6.48238V8.04238H11.4807L11.1207 10.2824H9.3607V15.9224C9.33694 15.9267 9.31318 15.9309 9.28943 15.935L9.32 15.96C13.12 15.28 16 12 16 8.04001C16 3.64001 12.4 0.0400085 8 0.0400085C3.6 0.0400085 0 3.64001 0 8.04001Z" fill="#000055")
                        .links__item-txt Facebook
                    .links__item
                        .links__item-link.share-linkedin
                        .links__item-logo
                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM3.5 12.5V5.5H5.5V12.5H3.5ZM10.2495 5.5C8.854 5.5 8.614 6.009 8.5 6.5V5.5H6.5V12.5H8.5V8.5C8.5 7.8515 8.8515 7.5 9.5 7.5C10.133 7.5 10.5 7.844 10.5 8.5V12.5H12.5V9C12.5 7 12.2395 5.5 10.2495 5.5ZM5.5 4C5.5 4.55228 5.05228 5 4.5 5C3.94772 5 3.5 4.55228 3.5 4C3.5 3.44772 3.94772 3 4.5 3C5.05228 3 5.5 3.44772 5.5 4Z" fill="#000055")
                        .links__item-txt linkedin
                    .links__item.links__item-copy
                        a(href="#").links__item-link
                        .links__item-logo
                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none")
                                path(d="M10.8 8.92H9.064C7.64 8.92 6.48 7.768 6.48 6.336V4.6C6.48 4.272 6.216 4 5.88 4H3.344C1.496 4 0 5.2 0 7.344V12.656C0 14.8 1.496 16 3.344 16H8.056C9.904 16 11.4 14.8 11.4 12.656V9.52C11.4 9.184 11.128 8.92 10.8 8.92Z" fill="#000055")
                                path(d="M12.6558 0H11.0798H10.2078H7.94381C6.13579 0 4.67179 1.152 4.60779 3.208C4.65579 3.208 4.69579 3.2 4.74379 3.2H7.00781H7.87981H9.45581C11.3038 3.2 12.7998 4.4 12.7998 6.544V8.12V10.288V11.864C12.7998 11.912 12.7918 11.952 12.7918 11.992C14.5758 11.936 15.9998 10.752 15.9998 8.664V7.088V4.92V3.344C15.9998 1.2 14.5038 0 12.6558 0Z" fill="#000055")
                                path(d="M7.9845 4.12135C7.7365 3.87335 7.3125 4.04135 7.3125 4.38535V6.48135C7.3125 7.36135 8.0565 8.08135 8.9685 8.08135C9.5365 8.08935 10.3285 8.08935 11.0085 8.08935C11.3525 8.08935 11.5285 7.68935 11.2885 7.44935C10.4165 6.57735 8.8645 5.01735 7.9845 4.12135Z" fill="#000055")
                        .links__item-txt Копіювати посилання

        .news
            .news__topImg
                picture
                    source(media="(max-width: 500px)" srcset="img/img-title-mob.jpg")
                    img(src="img/img-title.jpg" alt="Favbet")
            .news__content
                p.text Нова співпраця між FAVBET Tech та Wtech покликана підтримувати жіночі ініціативи у технологічній галузі. Деталі про проєкти, освіту та події, спрямовані на розвиток рівноправності в IT-галузі.
                p.text Нове партнерство передбачає багатосторонню взаємодію FAVBET Tech та Wtech, направлену на підтримку жіночих ініціатив у tech-індустрії, впровадження освітніх та нетворкінг-проєктів. FAVBET Tech також активно залучатиметься до івентів ком’юніті та сприятиме розвитку мережі Wtech за межами України.
                p.text "Сьогодні провідним гравцям українського IT-ринку вкрай важливо консолідуватися для зміцнення економічного фронту країни та створення передумов для майбутнього відновлення. Ми з радістю долучилися до числа друзів Wtech, адже нам близька місія ком'юніті, яке зараз не лише розширює можливості для жінок в tech-галузі, а й об’єднує тисячі представниць українського IT, що залишилися чи були змушені виїхати за кордон, заради допомоги країні на економічному фронті", – як повідомляють в компанії FAVBET Tech.
                p.text Засноване у 2018 році, сьогодні Wtech є найбільшою глобальною спільнотою для жінок у tech-бізнесі, яке об'єднує понад 5000 учасниць у 17 країнах світу. Розвивати ком’юніті допомагає міжнародна команда з понад 50 волонтерок.
                .img
                    picture
                        source(media="(max-width: 500px)" srcset="img/img-mob.jpg")
                        img(src="img/img.jpg" alt="Favbet")
                h2.h2 headline 1
                p.text Приєднуючись до Wtech & Friends, FAVBET Tech продовжує глибоку інтеграцію в український IT-ринок як драйвера позитивних змін та відповідальної компанії, що сприяє сталому розвитку галузі. З 2022 року FAVBET Tech є резидентом Дія Сіті, учасником Ukrainian IT Association, а також підтримує Міністерство цифрової трансформації України в ініціативі створення та розгортання кіберармії для захисту цифрового простору України.
                h3.h3 headline 2
                p.text Приєднуючись до Wtech & Friends, FAVBET Tech продовжує глибоку інтеграцію в український IT-ринок як драйвера позитивних змін та відповідальної компанії, що сприяє сталому розвитку галузі. З 2022 року FAVBET Tech є резидентом Дія Сіті, учасником Ukrainian IT Association, а також підтримує Міністерство цифрової трансформації України в ініціативі створення та розгортання кіберармії для захисту цифрового простору України.
                h4.h4 headline 3
                p.text Приєднуючись до Wtech & Friends, FAVBET Tech продовжує глибоку інтеграцію в український IT-ринок як драйвера позитивних змін та відповідальної компанії, що сприяє сталому розвитку галузі. З 2022 року FAVBET Tech є резидентом Дія Сіті, учасником Ukrainian IT Association, а також підтримує Міністерство цифрової трансформації України в ініціативі створення та розгортання кіберармії для захисту цифрового простору України.
                blockquote.quotation
                    img(src="img/quotation-marks.svg" alt="Favbet").quotation-img
                    p.quotation-txt Міністерство цифрової трансформації України в ініціативі створення та розгортання кіберармії для захисту цифрового простору України.
                ul.unorderedList
                    li.unorderedList-item Нова співпраця між FAVBET Tech та Wtech покликана підтримувати жіночі ініціативи у технологічній галузі.
                    li.unorderedList-item Wtech покликана підтримувати жіночі ініціативи у технологічній галузі.
                    li.unorderedList-item Нова співпраця між FAVBET Tech та Wtech покликана підтримувати жіночі ініціативи
                    li.unorderedList-item Wtech покликана підтримувати жіночі ініціативи у технологічній галузі.
                ol.orderedList
                    li.orderedList-item Нова співпраця між FAVBET Tech та Wtech покликана підтримувати жіночі ініціативи у технологічній галузі.
                    li.orderedList-item Wtech покликана підтримувати жіночі ініціативи у технологічній галузі.
                    li.orderedList-item Нова співпраця між FAVBET Tech та Wtech покликана підтримувати жіночі ініціативи у технологічній галузі.
                    li.orderedList-item Wtech покликана підтримувати жіночі ініціативи у технологічній галузі.
                a(href="#").link Link to something
        a(href="#").backLink
            .backLink__img
                svg(xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M5.14855 0.501421C5.34715 0.501063 5.5396 0.564859 5.69252 0.681735C5.86634 0.814656 5.97568 1.00591 5.99641 1.21329C6.01714 1.42068 5.94755 1.62714 5.80301 1.78714L1.99524 5.98925L5.66702 10.1992C5.80962 10.3612 5.87634 10.5689 5.85241 10.7763C5.82848 10.9838 5.71588 11.1739 5.53953 11.3046C5.36175 11.4489 5.12677 11.5182 4.89121 11.4959C4.65565 11.4736 4.44087 11.3616 4.2986 11.187L0.193353 6.48315C-0.0644512 6.19386 -0.0644512 5.77679 0.193353 5.4875L4.4431 0.783652C4.61603 0.591228 4.87807 0.486394 5.14855 0.501421Z" fill="#000055")
            .backLink__txt Назад до списку новин